<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class= "portrait" src="/img/PICT0245.jpg" alt="pic">
            <img class= "portrait" src="/img/PICT0234.jpg" alt="pic">
        </div>
        {{>footer}}
    </body>
</html>